# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# System files
.DS_Store

# Snapshot file
snapshot.jpg

# Tmp files
.tmp-forever

# Env
.env